<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body style="background-color: #666">
  <div id="app">
    <!-- Page (Add Players) -->
    <div v-if="currentPage == PAGE.PLAYERS">
      <input v-model="playerNameInput" type="text" placeholder="Spielername eingeben" />
      <button :disabled="playerNameInput == ''" v-on:click="addPlayer">Add Player</button>
      <ul>
        <li v-for="player in players">{{ player.name }}</li>
      </ul>
      <button v-if="players.length >= 3" v-on:click="goToReizen">
        Start Game
      </button>
    </div>

    <!-- Page (Reizen) -->
    <div v-if="currentPage == PAGE.REIZEN">
      <input v-model="reizzahlInput" type="number" placeholder="Reizzahl eingeben" />
      <select v-model="selectedPlayerId">
        <option disabled value="0">Select player</option>
        <option v-for="player in players" :value="player.id">
          {{ player.name }}
        </option>
      </select>
      <button :disabled="reizzahlInput <= 0" v-on:click="goToMelden">
        Save Reizzahl
      </button>
    </div>

    <!-- Page (Melden) -->
    <div v-if="currentPage == PAGE.MELDEN">
      <h1>Meldezahl eingeben</h1>
      <p v-for="player in players">{{player.name}}
        <input :id="player.id" value="" type="number" v-model="player.rounds[currentRound].meldezahl" placeholder="Meldezahl eingeben"/>
      </p>
      <button v-on:click="goToErzielt">
        Save Meldezahl
      </button>
    </div>

    <!-- Page (Erzielt) -->
    <div v-if="currentPage == PAGE.ERZIELT">
      <h1>Erzielte Punkte eingeben</h1>
      <p v-for="player in players">{{player.name}}
        <input :id="player.id" value="" type="number" v-model="player.rounds[currentRound].erzielt" placeholder="Erzielte Punkte eingeben"/>
      </p>
      <button v-on:click="goToErgebnis">
        Save Erzielte Punkte
      </button>
    </div>

    <!-- Page (Ergebnis) -->
    <div v-if="currentPage == PAGE.ERGEBNIS">
      <table>
        <tr>
          <th>Round</th>
          <th v-for="player in players">{{player.name}}</th>
        </tr>
        <tr v-for="">
          <td>R1</td>
          <td>{{}}</td>
          <td>Summe Punkte R1 Spieler 2</td>
        </tr>       
      </table>
    </div>

  </div>
  <script src="script.js">  </script>
</body>

</html>